In [7]:
import pandas as pd

In [8]:
df_caged = pd.read_csv("./data/CAGEDMOV202412.txt", sep=";", encoding="utf-8")

In [5]:
df_caged.head()

,competênciamov,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,origemdainformação,competênciadec,indicadordeforadoprazo,unidadesaláriocódigo,valorsaláriofixo
0,202412,3,32,320130,N,8129000,1,783225,101,5,...,0,0,"1469,60",5,0,1,202412,0,1,"6,68"
1,202412,3,33,330455,M,7112000,1,312105,101,7,...,0,0,"3000,00",6,0,1,202412,0,5,"3000,00"
2,202412,3,33,330170,C,1220401,-1,514320,101,5,...,0,0,"1588,52",7,0,1,202412,0,5,"1588,52"
3,202412,3,35,354520,G,4753900,-1,414110,101,5,...,0,0,"3790,75",10,0,1,202412,0,1,"17,27"
4,202412,4,41,410640,N,8121400,1,514320,101,7,...,0,0,"1260,42",10,0,1,202412,0,5,"1260,42"

In [6]:
df_caged.columns

Index(['competênciamov', 'região', 'uf', 'município', 'seção', 'subclasse',
       'saldomovimentação', 'cbo2002ocupação', 'categoria', 'graudeinstrução',
       'idade', 'horascontratuais', 'raçacor', 'sexo', 'tipoempregador',
       'tipoestabelecimento', 'tipomovimentação', 'tipodedeficiência',
       'indtrabintermitente', 'indtrabparcial', 'salário', 'tamestabjan',
       'indicadoraprendiz', 'origemdainformação', 'competênciadec',
       'indicadordeforadoprazo', 'unidadesaláriocódigo', 'valorsaláriofixo'],
      dtype='object')